<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>M&Omega;Pi </title> <!--<title>{% block title %}{% endblock %}</title>  <title>M&#969;Pi</title>-->
	<link rel="shortcut icon" href="/static/images/logo1.gif" type="image/x-icon" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="keywords" content="optimization, optimisation, consultant, project management, process improvement, business analytics, mopi, olena gavriliouk" />	
	<link rel="stylesheet" href="/static/style.css" type="text/css" />
</head>

<body>	
	<!-- white space with Logo and picture  -->
	<div id="container1">	
	    <div id="logoPic"> <img src="/static/images/OG_Sept2012_100px.gif"  align="right" width="135" border="0" alt="" />	 </div>
		<div id="logo"> <img id="logo" src="/static/images/logo_comment.gif" width="390" border="0" alt="" /> 
	 </div>
	</div> 
<!--   <p> <span><img src="images/ico-phone.png" alt="Phone" width="20" height="16" hspace="2" /> Phone:</span> +61 (0)4 3330 7896<br /> -->

		<!--  HeaderTabs  -->
	<div id="headerCntr">
		<div class="headerStyle"> 
	       	|<a href="/index"> home </a> | 
	        <a href="/feedback"> client feedback </a> | <a href="/projects"> projects </a> |
	        <a href="/short_CV"> resume </a> | 
	        <a href="/faq"> philosophy </a>|	<a href="mailto:info@mopi.com.au">info@mopi.com.au</a> |
  		</div>
	</div>
			
	<!--  / CONTENT CONTAINER \ -->
	<div id="contentCntrMain">
		<div id="logoPic"> <a target="_blank" href="http://au.linkedin.com/pub/olena-gavriliouk/18/6a3/b01">
			<img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0"> </a>	 
  		</div>
	 <div id="contentCntr">
		<div id="mainContainer"> 
		
		
<style type="text/css">
    ul.errorlist {
        font-weight:bold;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
    .errorlist li {
        color: red;
        display: block;
        font-size: 10px;
        font-weight:bold;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>

	
    {% block content %}
    
    
    {% endblock %}


    {% block footer %}
    <br/>
    <br/>
    {% endblock %}

		</div>
			<div class="clear"></div>
			<!--  \ RIGHT CONTAINER / -->

		</div>
		</div>
		<!--  \ CONTENT CONTAINER / -->
		
		
		
	</div>
	<!--  \ MAIN CONTAINER / -->
	<!--  / FOOTER CONTAINER \ -->
		<div id="footerCntr">
			<div class="footerBox">
			Olena Gavriliouk, Ph.D., Data Scientist. All rights reserved. 
			</div>
		</div>
		<!--  \ FOOTER CONTAINER / -->
	
</div>
<!--  \ WRAPPER / -->

</body>

</html> 