{% extends "base.html" %}
{% block content %}
	<h1>Olena's philosophy on business and life</h1>
	    <div id="welcomeBox">
	    <p><span style="padding: 0px 40px 0px 40px;">
	        Hi and welcome to my personal corner of the website. </span> </p>
		<p><span style="padding: 0px 40px 0px 40px;">
		  On this page I compiled a few things that you might want to know about 
			me before you decide to hire my services. </span> </p>
			<p><span style="padding: 0px 40px 0px 40px;">These "few things" constitute my philosophies on business and life.
			</span> </p>
		</div>
  <div id="mainContainer1" >
	<div class="index"> 	
		<p>	I don't adhere to many rules
                   (this fact probably contributes to my reputation as an <em>unorthodox thinker</em>),
                 the only rules according to which I live and do business are:
		</p>
		 <ul>
		 <li> question everything </li>
		 <li> be honest </li>
		 <li> work hard </li>
		 </ul>
		 <p> The question-everything rule is one of the reasons I excel at finding waste 
		   in any business/production process.
			 When performing business process analysis, I don't take any business rule for granted, 
			 but re-question it multiple times.
		 </p> 		
	<br/>			
		<h3> What drives me?</h3>
		<p> Challenges. The more unsurmountable a task seems, the more I am determined to conquer it.
			I thrive in challenging environments that demand solutions to complex problems in short time frames. </p>
    <br/>
		<h3> Why Optimization?</h3>
		<p> I define Optimization as a scientific approach to eliminating waste and, hence, reducing costs.
			I am passionate about applying optimization to processes and decisions, whether deciding on
			capacity expansion for one of the world's largest coal ports or finding an optimal treatment process for cancer.
            Optimization is ubiquitous. Whether we realize it or not, we apply it to every day decisions we make.
            In fact, life consists of complex optimization problems.
            Admittedly, some of the optimization criteria are hard to quantify, 
            nevertheless we have to make decisions based on what we know and feel happy
			or sad as a result of the outcome. Gathering good information, understanding internal and external
			resources, and available technological solutions in the business context and applying scientific
			optimisation greatly aids desirable outcomes for decision making.
		</p>
     </div> 
  </div>
  
  <div id="mainContainer2">
   	<div class="index">
		<h3> Why do my clients keep an IP and source code?</h3>
		<p> I believe that anything that I develop (IP or code) during work-time while being paid by a client
		   rightfully belongs to that client.</p>
		<p> Moreover, I believe in sharing knowledge. Hence if my client wants to dabble with the code 
		I have written in order to experiment, improve it, etc., I believe it can only help
		my client learn and grow, and therefore, I support it by sharing code. 
		</p>
   <br/>
		<h3> Why don't I specialize in one industry?</h3>
		<p> Though I see the advantage of acquiring a domain knowledge in one particular industry,
			I prefer to not specialize in one particular industry. Why? I enjoy learning.
			And one of the beautiful things about consultancy is experiencing a variety of projects and learning
            about different industries.
		</p>
        <p> When entering a new industry, one is forced to question what is done and why.
           This questioning allows for a fresh perspective on a business under consideration.
        </p>	
        <p> Last, but not least, I love showing my clients that using mathematical tools, logic, software development and
        	common sense and practical wisdom one can solve some of the toughest business problems regardless of industry. </p>
        
    <br/>	
		<h3> My project management philosophy</h3>
         <p> I believe in an individualistic approach to managing people and oppose the 'one size fits all' management philosophies.
             There are a few project management (PM) theories in the business world.
             But they are exactly that--<em>theories</em> (or philosophies) not an exact science, like mathematics.
             Hence, a set of techniques that worked in managing one project may not work for a project of the same
             type but in a different organization or even in the same organization but with different people
             involved.
         </p>
         <p> Plus my question-everything rule prevents me from blindly following any particular PM theory.
             I tend to borrow techniques from different PM theories, but I am a fan of none.
         </p>
<!--
  <p> <img src="./images/logo22.gif" width="23" border="0" alt="" /> combines 
   		her strong drive and resourcefulness with solid work ethic and delivers excellent results.  
   		That's why her clients labelled her "relentless in achieving results." </p>
   	<br />
 

     <p> <img src="./images/logo22.gif" width="23" border="0" alt="" /> 
      is an unorthodox thinker who questions everything. 
          <img src="./images/logo22.gif" width="23" border="0" alt="" />
           uses this nonconformist trait to 
           objectively evaluate her clients' business processes and decisions. </p>      
   <br/>
       <p> <img src="./images/logo22.gif" width="23" border="0" alt="" /> 
        rationally combines her minimalist nature and her expertise in mathematical optimization
        to determine waste in business processes. </p>
   <br/> 
 	   <p> <img src="./images/logo22.gif" width="23" border="0" alt="" />
 	    has been described by her clients as "relentless in achieving results".
 	    <img src="./images/logo22.gif" width="23" border="0" alt="" />
 	     is resourceful and persistent. 
 	   <img src="./images/logo22.gif" width="23" border="0" alt="" />
 	     explores every business asset and process path to satisfy her clients' requests.</p> 
  <br/>	   
 	   <p> <img src="./images/logo22.gif" width="23" border="0" alt="" />'s 
 	   honesty converts to a simple rule she has regarding her contractual agreements:
 	    "I'd rather underpromise and overdeliver". 	    

 	    See <a href="feedback.php"> client feedback</a> and 
 	    <img src="./images/logo22.gif" width="23" border="0" alt="" />'s  <a href="faq.php"> philosophy</a>.


-->
    </div>
   </div>
{% endblock %}