{% extends "base.html" %}
{% block content %}

 <h1>Client Feedback </h1>
    <p> <span style="padding: 0px 40px 0px 40px; margin: 0px 40px 0px 40px;"> 
  		The following are recommendations and feedback from <img src="/static/images/logo22.gif" width="23" border="0" alt="" />'s
  		clients and collaborators. </span> </p>
         <p><span style="padding: 0px 40px 0px 40px; margin: 0px 40px 0px 40px;"> Also available via 
                 <a target="_blank" href="http://au.linkedin.com/pub/olena-gavriliouk/18/6a3/b01">
 	 <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="120" border="0">
 		</a> </span></p> <br />
 	
 <div id="mainContainer1" >

 <div class="index"> 	
   <ul>
      <li> "Olena worked at the ABS on a number of projects including optimisation of workload allocation for the ABS' field workforce.
       Olena displayed exceptional technical skills, a very strong work ethic and an outstanding commitment to achieving her goal. 
       She spent considerable time educating others to ensure the system she built could be supported once she left the organisation. 
       I have no doubt Olena will be successful at anything she sets her mind to achieving." <br/>
       &mdash;<em> Rod Smith, Director, Population Survey Operations at Australian Bureau of Statistics </em>
       </li>
       <br/>
       <li> "Olena did a great job for us on our optimisation project. We would be happy to work with Olena again."
       Top qualities: Expert, On Time, High Integrity. <br/>
       &mdash;<em>Peter Carney, Manager Supply Chain and Logistics Consulting at BlueScope Steel </em>
       </li>
		<br />
       <li>"Olena worked for me as part of a two person team conducting an Operations Research study over a period of eight months. The work was of great quality, timeliness excellent and openness to discuss a range of potential scenarios a great bonus. Her diligence, expertise and positive contribution to the team provides the real momentum to achieve in difficult projects." Top qualities: Great Results, Personable, Creative <br />
           &mdash;<em>Peter Stowe, Project Manager - Regulatory Process Review, Strategic Implementation, Risk Mgt, Systems Development (Independent Consultant)</em>
       </li>
       <br />
       <li> "Olena worked in our Operations Research group as a contractor for a year. In that time she quickly got to grips with a complex operational problem and developed OR solutions. She sought out staff members beyond her immediate team in order to get a good understanding of all aspects of the problem.</p>
           <p> She is passionate about her work, persevering until she gets results. While she is forthright and has no hesitation in speaking her mind when she knows what needs to be done, Olena's also willing to go out of her way to help team mates. She wrote and presented a very good five-day training course on operations research, helping myself and colleagues to understand the issues and techniques involved. She will be missed at ABS."<br />
           &mdash;<em> Geoffrey Brent, Senior Researcher at the Australian Bureau of Statistics</em>
       </li>
        <li>"In the 3 years in which I worked in the same organisation and building as Olena and became her informal mentor, she impressed me with the tenacity with which she attacked a problem, never giving in till she had it under control. Coupled to a strong belief in ethical interactions with clients and colleagues, I have no reservations in recommending her."<br />
           &mdash;<em>Murray Rudman, Associate Dean (Research), Faculty of Engineering at Monash University</em>
       </li>
		<br />
       <li> "Olena was my supervisor back when I was doing an internship at CSIRO. She is passionate about her work and committed beyond imagination to completing a task to the best of her abilities. Not only is she an inspiration in the workplace, but also in keeping a healthy work-life balance, as she shows amazing commitment by going to the gym early before work. She's definitely a person that influenced the way I approach work and helped me see the rewards of a job well done." <br />
           &mdash;<em>Michael Leroy, Graduate Developer at mVoice</em>
       </li>


    	</ul>
       <br />
       
    </div> 
  </div>
  
  <div id="mainContainer2">
   	<div class="index">
       <ul>
       <li> "I was privileged to work alongside Olena, whilst she implemented tools and systems for the management of ABS interviewers.
        Olena is incredibly intelligent, passionate about her job and knowledgeable in optimisation. 
        She demonstrates a willingness to learn things and teach others. 
        I look forward to working with her the next time round." <br/>
        &mdash;<em> Alison Szetho, Provisional Psychologist, Population Survey Operations at Australian Bureau of Statistics </em>
       </li>
       <br/>
       <li> "Olena changed a workload allocation paradigm that had applied for many years in our operations. 
       She drove acceptance of standardised processes across a national multi-site operation, 
       which ultimately saw stakeholders trust the power of computer optimisation over localised geographic knowledge. 
       She showed an immense appetite for hard work and dedication, was well recognised organisationally 
       for being an expert in her field of optimisation, and she deployed an array of IT development and programming skills . 
       I highly recommend Olena and would welcome the opportunity to work with her again.<br/>
       &mdash;<em>Anthony Grubb, Director, Population Surveys Program at Australian Bureau of Statistics</em>
       <br/>
       <li> "Olena is an astute, commercially pragmatic individual who would be the ideal advisor to any organisation requiring 
       strategic change and thought leadership in the area of complex supply networks and large scale logistics systems. 
       She has world-class academic credentials in complex systems optimisation, brings a global perspective and a can-do approach." <br />
           &mdash;<em>Andrew Dingjan, Senior Technical Advisor to Boeing</em>
       </li>
       <br />
       <li>"I have worked with Olena as part of the CMIS Operations Research Group at CSIRO. I have known Olena to be methodical, thorough and remarkably hardworking. She aspires for excellence in every task she undertakes whether it is a business, community or personal undertaking. She has exceptional communication skills, solid analytical background and extensive computing experience. She would be an asset in any logistics or optimization project that demands significant results under tight resource-constrained conditions." <br />
           &mdash;<em>Leorey Marquez, Research Scientist at CSIRO</em>
       </li>
       <br />
       <li> "Although I haven't worked with Olena directly on a project we've had lots of in-depth discussions about programming and project management aspects of her work. Olena's specialty is applying scientifically sound solutions to business optimisation problems. I've found Olena a highly efficient and motivated professional, with a taste for challenges and passion for self-education. She always gives her 100% to her work commitments. If you want a project get done, and done on time, I cannot recommend her high enough." <br />
           &mdash;<em>Yulia Arzhaeva, Senior Software Engineer at CSIRO</em>
       </li>
		<br />
       <li>"Olena is an excellent boss. Her people and project management skills keep everyone (from team members to stakeholders) enthusiastic and motivated. She keeps her promises and delivers high quality solutions. I truly enjoyed working with/for and learning from her."<br />
           &mdash;<em>Yanjun Ivan Ma, Graduate IT Specialist at IBM Global Services</em>
       </li>

       </ul>
 </div>
 </div>

{% endblock %}