{% extends "base.html" %}

{% block content %}
<div id="mainContainer1" >
  <h1> Who is <img src="/static/images/logo33.gif"  align="center" width="32" border="0" alt="" />?</h1> 
  
 	<div class="index">
      	<p>Olena Gavriliouk (<img src="/static/images/logo22.gif" width="23" border="0" alt="" />)  
       	is a data scientist who specializes in developing customized 
       	analytics tools to support informed decision making.
       	</p>
   	    <br/>

		<h7> <img src="/static/images/logo22.gif" width="23" border="0" alt="" />
			  builds mathematical models to help businesses </h7>
				<ul>
				<li> make informed decisions by understanding messages their data carries, </li>
				<li> reduce costs by finding and eliminating waste in business processes,</li>
				<li> make optimal decisions when designing their strategies.</li>
				</ul>
		 <br/>


		<h7> <img src="/static/images/logo22.gif" width="23" border="0" alt="" />
			  builds analytical tools using  </h7>
				<ul>
				<li> her knowledge of databases and SQL dialects to find her way around any database and extract data, or 
				scrape the web to obtain data </li>
				<li> her programming skills to clean, transform, and format data for exploratory analysis</li>
				<li> her data analysis and machine learning techniques to interrogate data and perform exploratory data analysis </li>
				<li> her consulting and client-facing skills to determine clients' needs </li>
				<li> her knowledge in applied mathematics to model business processes and decisions</li>
				<li> her software development skills to embed mathematical models into user-friendly analytical tools (e.g., desktop or web applications) </li> 
				</ul>
		 <br/>

<!--		
		 <h7> Intellectual Property (IP) and source code </h7>
		 	   <ul>
		 	   <li> All the IP <img src="/static/images/logo22.gif" width="23" border="0" alt="" />
		 	    developed during the time a client buys is owned by the client.</li>
		 	   <li> <img src="/static/images/logo22.gif" width="23" border="0" alt="" /> 
				 provides her clients with the source code of everything she develops during the
				 time paid by a client. </li>
				</ul>
     	<br/>

  <br/>
    <p> <img src="/static/images/logo22.gif" width="23" border="0" alt="" /> combines 
   		her strong drive and resourcefulness with solid work ethic and delivers excellent results.  
   		That's why her clients labelled her "relentless in achieving results." </p>
   	   
   	   <br />
 -->
  
  </div> 
  </div>
  
  <div id="mainContainer2">
    <h1> What is M&Omega;Pi? </h1>
  	<div class="index">

     <p> <strong> Modelling, Optimization, &amp; Process Improvement (M&Omega;Pi) </strong> </p>
			<p> is the core set of <a href="/short_CV#skills">skills</a> 
 	    	<img src="/static/images/logo22.gif" width="23" border="0" alt="" /> offers businesses as a</p>
 	    	<ul> 
 	    	<li> data scientist </li>
 	    	<li> mathematical optimization specialist </li>
 	    	<li> business consultant </li>
 	    	<li> software developer and </li>
 	    	<li> project manager </li>
 	    	</ul>
 	    	</table>
     <br/>
      	   <p> <img src="/static/images/logo22.gif" width="23" border="0" alt="" />
 	    doesn't deliver <em>just</em> a report. 
 	    Because of <img src="/static/images/logo22.gif" width="23" border="0" alt="" />'s 
 	    multiple skills (see <a href="/short_CV">CV</a>), she 
 	    can take a problem from a scoping stage, through design, prototyping, implementation, and
 	    to a finished tool delivered to end-users.   
 		</p>
 		
		 <h2>Types of problems <img src="/static/images/logo22.gif" width="23" border="0" alt="" /> undertakes </h2>   
			<ul>
			<li> data mining/data analysis</li>
			<li> process improvement </li>
			<li> supply chain &  logistics </li>
			<li> scheduling & workforce management </li>
			<li> resource planning, capacity expansion and downsizing </li>
			<li> inventory management and warehouse optimization </li>
			<li> infrastructure planning </li>
			<li> financial services </li>
			</ul>     
    <br/>
            <p> Learn about <a href="/projects">projects</a> in which <img src="/static/images/logo22.gif" width="23" border="0" alt="" />
         has been involved.</p> 

<!--		 <p> <img src="/static/images/logo22.gif" width="23" border="0" alt="" />'s 
		 clients include  BlueScope Steel, Hunter Valley Coal Chain Coordinator, Port Waratah Coal Services,
			Boeing, Australia Post, and the Australian Bureau of Statistics. <a href="/projects">Learn more...</a>
		</p>
-->
  </div>
  </div>

{% endblock %}