{% extends "base.html" %}
{% block content %}
<h1>Selected Consulting Projects</h1>
    <p><span style="padding: 0px 40px 0px 40px;">	The following are some of the projects that 
                    <img src="/static/images/logo22.gif" width="23" border="0"/> has managed and contributed to: </span></p>
  <div id="mainContainer1" >
   <div class="index"> 
	<ul>
		<li> <strong> <h2>The Australian Bureau of Statistics:</h2> </strong> 
		 <img src="/static/images/logo22.gif" width="23" border="0"/> implemented the integration of multiple systems 
		  into a webservice solution used for managing the workforce of ABS interviewers.
		</li>
		<li> <strong>  <h2> The Australian Bureau of Statistics:</h2> </strong> 
		<img src="/static/images/logo22.gif" width="23" border="0"/>  led the stakeholder consultation, 
		  design and implementation of a software tool for optimal scheduling and routing of the ABS field interviewers.  
		  The software models complex business rules, capacity and costs for interviewer work and has
		  resulted in a significant gain of workforce and business planning efficiencies.
		</li>
		<li> <strong>  <h2>Dux Manufacturing (GWA International Limited): </h2></strong> 
		Working closely with the client, 
		<img src="/static/images/logo22.gif" width="23" border="0"/>
		 determined the optimal layout of a new plant, enabling significantly lower ongoing transportation and handling costs.
		</li>
		<li> <strong>  <h2> Platinum Ray:</h2> </strong> 
		<img src="/static/images/logo22.gif" width="23" border="0"/>
		 designed a novel system to optimize rental-vehicle routing and scheduling.
		 The system is currently used by <em> Apollo Motorhome Holidays Pty Ltd</em> and 
		 resulted in significant ongoing operational savings after its adoption in 2008.
		</li>
		</ul>
    </div> 
  </div>
  
  <div id="mainContainer2">
   	<div class="index">
		<ul>
		<li> <strong>  <h2>Hunter Valley Coal Chain Coordinator: </h2></strong> 
		<img src="/static/images/logo22.gif" width="23" border="0"/>
		 co-designed and implemented a software tool
		 to support tactical decisions about an optimal capacity expansion plan for the client's coal supply chain.
		</li>
		<li><strong>  <h2>Port Waratah Coal Services:</h2> </strong> 
		<img src="/static/images/logo22.gif" width="23" border="0"/> developed the simulation models used
			 to assess throughput improvement strategies for the world's largest coal port.
		</li>

		<li> <strong>  <h2>Boeing: </h2></strong> <img src="/static/images/logo22.gif" width="23" border="0"/>
		 led the development and implementation of a software tool to support optimal
			 inventory decision making in a Boeing manufacturing plant.
		</li>
		<li> <strong>  <h2>BlueScope Steel Limited:</h2> </strong> 
		<img src="/static/images/logo22.gif" width="23" border="0"/> provided optimization support and advice to senior management 
		in the development of an optimal capacity expansion plan for one of the client's largest sites.
		</li>
		<li> <strong>  <h2>Peter MacCallum Cancer Institute:</h2> </strong> 
		<img src="/static/images/logo22.gif" width="23" border="0"/>
		 designed and implemented a software tool to find optimal
		radiation therapy procedures for treating brain tumors.
		 The software reduces the duration of the expensive treatment, allowing an increase 
		 in the number of patients obtaining the treatment.
		</li>
		</ul>
	</div>
 </div>
{% endblock %}