<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>M&Omega;Pi </title>
	<link rel="shortcut icon" href="/static/images/logo1.gif"" type="image/x-icon" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="keywords" content="optimization, optimisation, consultant, project management, process improvement, business analytics, mopi, olena gavriliouk" />	
	<script type="text/javascript" src="javascripts/pngfix.js"></script>
	<script type="text/javascript" src="javascripts/ie6.js"></script>
  	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/static/resume.css" media="all" />
 </head>

<body>
<style type="text/css" media="screen">
	.msg { padding: 20px; background: #000;  }
	.msg h1 { color: #999;  }
	.msg a { color: #fff }
	.msg img {float:left; padding: 0px 0px 0px 150px;}
	.msg a#dl { margin-left: 20px; background: #080808; color: white; padding: 4px 8px; text-decoration: none; }
	.msg a#dl:hover { background: #222; }
</style>
<!-- .msg a#dl:hover { background: #266400;} 408814-->
<div class="msg">
	
	<h1> <a href="/index">home </a>  <a href="mailto:info@mopi.com.au">info@mopi.com.au</a> 
</div><!-- // .msg -->


<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
				<img src="/static/images/logo_comment.gif" width =340 border="0" alt="" />
				<!--<img src="images/BizCard_small1.gif" width =240 border="0" alt="" />
					
				-->
				</div>
				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" target="_blank" href="/static/Downloads/eog2014.pdf">Download PDF</a></h3> 
						<h3><a href="mailto:olena@mopi.com.au">olena@mopi.com.au</a></h3>
						<a href="http://au.linkedin.com/pub/olena-gavriliouk/18/6a3/b01">
         <img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View Olena Gavriliouk's profile on LinkedIn">
         </a> <br />
         				<h3> +61(0)4 3330 7896 </h3>
					</div>
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->
	
		<div id="bd">
				<div id="yui-main">
					<div class="yui-b">

						<div class="yui-gf">
							<div class="yui-u first">
								<h2>Personal qualities</h2>
							</div>
							<div class="yui-u">
								<p> <!-- <p class="enlarge">-->
									Relentless in achieving results.
									Goal-oriented.
                                    Driven.
                                    Hardworking
									Striving for excellence.
									Seeking great challenges.
									Efficient and effective.
									Unorthodox thinker.
									Clear communicator.
                                    Honest.
								</p>
							</div>
						</div><!--// .yui-gf -->

						<div class="yui-gf">
							<div class="yui-u first">
								<h2>Specialization</h2>
							</div>
							<div class="yui-u">
							 <p> Developing customized analytics tools to support more effective  decision making.
							 	<!--strategic, tactical, and operational decision-making
							    in supply chain, logistics, scheduling, workforce management, 
							    resource planning, capacity expansion and downsizing. --> </p>
							</div>
						</div><!--// .yui-gf -->

						<div class="yui-gf">
							<div class="yui-u first">
								<h2>Professional Expertise</h2>
							</div>
							<div class="yui-u">
							  <ul>
							    <li> Data scientist </li>
								<li> Optimization specialist </li>
								<li> Software developer</li>
								<li> Business consultant </li>
								<li> Project manager </li>
							  </ul>
							</div>
						</div><!--// .yui-gf -->


						<div class="yui-gf">
							<div class="yui-u first">
								<a name="skills"> </a><h2>Skills</h2>
							</div>
							<div class="yui-u">
							 <ul>
							    <li> Quantitative Optimization.</li>
							    <li> Machine Learning and Statistical Modelling.</li>
							    <li> Data sourcing, interrogation, manipulation, transformation, and exploratory analysis.</li>
							    <li> MySQL, Oracle, SQLite.</li>
								<li> Developing applications in: Python (5+years), C++ , Java, Matlab.</li>
								<li> Favorite Python modules: pandas, numpy, scipy, scikit, Django. </li>
								<li> Beginner skills in: HTML, PHP, XML, C#, JavaScript, R.</li>
								<li> Geospatial technologies: ArcGIS, NetworkAnalyst.</li>
<!--// 								<li> Object oriented programming. </li>
								<li> Multithreaded programming.</li> -->
								<li> Expert knowledge of the following optimization technologies: Gurobi, CPLEX, AMPL.</li>
								<li> Operating systems: Linux, Windows, OS X.</li>
								<li> Leadership and mentoring.</li>
								<li> Strong presentation and public speaking skills. </li>
								<li> Knowledge of ERP and lean manufacturing.</li>
								<li> Revision control. GitHub <a target="_blank" href="http://github.com/gavrol/"> (username: gavrol)</a> </li>
							  </ul>
							</div>
						</div><!--// .yui-gf -->
						

						<div class="yui-gf">
							<div class="yui-u first">
								<h2>Career Experience</h2>
							</div><!--// .yui-u -->

							<div class="yui-u">
								<div class="job">
									<h2>Business Operations Consultant</h2>
                                    <h3> Sole Trader. </h3>
									<h4> September 2011-present</h4>
									See <a href="/projects">projects</a>.
                                </div>
								<div class="job">
									<h2>Consultant</h2>
									<h3>CSIRO Mathematics, Informatics and Statistics, Australia</h3>
									<h4>2007-2011</h4>
									<p>Led and participated in consulting <a href="/projects">projects</a> in the following areas:
									supply chain, logistics, production planning and scheduling, business process analysis,
									routing, infrastructure planning and capacity expansion, inventory management, and facility layout and design. </p>
								</div>
								<div class="job">
									<h2>Researcher and  Teaching Assistant</h2>
									<h3>University of  Kaiserslautern, Germany</h3>
									<h4>2004-2007</h4>
									<p>Conducted research and performed teaching duties in the following fields of Optimization: linear programming,
										integer programming, nonlinear optimization, network optimization, and multicriteria optimization.</p>
								</div>
								<div class="job last">
									<h2>Teaching Assistant</h2>
									<h3>Clemson University, USA</h3>
									<h4>2000-2003</h4>
									<p>Instructor of undergraduate-level lectures in statistics, probability, and calculus. </p>
								</div>
							</div><!--// .yui-u -->
						</div><!--// .yui-gf -->

						<div class="yui-gf">
							<div class="yui-u first">
								<h2>Education</h2>
							</div><!--// .yui-u -->
							<div class="yui-u">
								<div class="job">
									<h2>Ph.D., Mathematics (Optimization)</h2>
									<h3>University of  Kaiserslautern, Germany</h3>
									<h4>2006</h4>
								</div>
								<div class="job">
									<h2> M.S., Applied Mathematics</h2>
									<h3>Clemson University, USA</h3>
									<h4>2003</h4>
								</div>
								<div class="job last">
									<h2> B.S., Mathematics &mdash; GPA 3.99</h2>
									<h3>North Georgia College and State University, USA</h3>
									<h4>1999</h4>
								</div>
							</div>
						</div><!--// .yui-gf -->
						
						<div class="yui-gf">
							<div class="yui-u first">
								<h2>Awards</h2>
							</div>

							<div class="yui-u">
								<div class="job">
									<h2> Research Award</h2>
									<h3>CSIRO Mathematics, Informatics and Statistics, Australia</h3>
									<!-- For conducting research resulting in a strong positive impact on industry. -->
									<h4>2010</h4>
								</div>
								<div class="job">
									<h2> Outstanding MS Student Award</h2>
									<h3>Mathematical Sciences Department, Clemson University, USA</h3>
									<h4>2003</h4>
								</div>
								<div class="job">
									<h2> Graduate Assistant Award for Excellence in Teaching</h2>
									<h3>Mathematical Sciences Department, Clemson University, USA</h3>
									<h4>2001</h4>
								</div>
								<div class="job last">
									<h2> Outstanding Mathematics Student</h2>
									<h3> North Georgia College and State University, USA</h3>
									<h4>1999</h4>
								</div>
							</div>
						</div><!--// .yui-gf -->

						<div class="yui-gf">
							<div class="yui-u first">
								<h2>Publications</h2>
							</div>
									<div class="yui-u">
									<ul>
									<li> Gavriliouk O. <a target="_blank" href="http://www.sciencedirect.com/science/article/pii/S0305054809000239">
										Aggregation in hub location problems.</a>  <em>Computers &amp; Operations Research.</em> 2009.
									</li>
									<li> Ernst A., Gavriliouk O., Marquez L.
									<a target="_blank" href="http://www.sciencedirect.com/science/article/pii/S0305054810000985">
										An efficient Lagrangean heuristic for rental vehicle scheduling.</a>
										<em>Computers &amp; Operations Research.</em> 2011.</li>
									<li> Singh G., Ernst A., Sier D., Gavriliouk O., Oyston R., Giles T., and Welgama P.
										A mixed integer programming model for long term capacity planning: a case study from the Hunter Valley Coal Chain.
									 Submitted to <em> European Journal of Operational Research.</em> </li>
									<!-- <li> Gavriliouk O., Toscas P., Muthuvel S., Ahmed R. Comparing methods for solving the sensor location problem.
										Submitted. 	</li> -->
									</ul>
							</div>
						</div><!--// .yui-gf -->


						<div class="yui-gf last">
							<div class="yui-u first">
								<h2>Language Skills</h2>
							</div>
							<div class="yui-u">
									<ul>
									<li> English and Ukrainian (native fluency)</li>
									<li> Russian (fluent) </li>
									<li> German (very good) </li>
									<li> Polish, Spanish, Italian (basic) </li>
									</ul>
							</div>
						</div><!--// .yui-gf -->
					</div><!--// .yui-b -->
				</div><!--// yui-main -->
		</div><!--// bd -->
		<!-- ended CV part -->
	</div>
</div>
		
		
<!--  begin FOOTER CONTAINER \ -->
<div id="footerCntr">
			<div class="footerBox">
			Olena Gavriliouk, Ph.D., Data Scientist. All rights reserved.
			</div>
</div>
		<!-- end \ FOOTER CONTAINER / -->
	
</body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25379619-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html> 